includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/
        - Tests/
        - bootstrap/
        - config/
        - database/
        - routes/
        - tests/

    # Level 9 is the highest level
    level: 5

    ignoreErrors: []

    excludePaths:
        - ./*/*/FileToBeExcluded.php
